node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/../generated/prisma

# Local development tools and binaries
bin/
git-cliff*
*.tar.gz

# Logs
*.log
npm-debug.log*
